section.banner
    .container
        .row
            .col-12
                .banner_inner
                    h1.banner__title
                        | Решим любую проблему
                        br
                        | с компьютером за 1
                        |                             час!
                    .banner__description Цены на ремонт от 100 рублей
                    a.button.banner__button.callback_js(href='#callback') Оставить заявку