section.block_border.benefits
    .row.align-items-stretch
        .col-6.col-lg-3
            .benefits__item
                img.benefits__item-image(src=require('../assets/img/delivery.png'), alt='Выезд')
                .benefits__item-text
                    b Бесплатный
                    br
                    | выезд мастера
        .col-6.col-lg-3
            .benefits__item
                img.benefits__item-image(src=require('../assets/img/diagnostic.png'), alt='Выезд')
                .benefits__item-text
                    b Бесплатная
                    br
                    | диагностика техники
        .col-6.col-lg-3
            .benefits__item
                img.benefits__item-image(src=require('../assets/img/antivirus.png'), alt='Выезд')
                .benefits__item-text
                    | Антивирус
                    br
                    b в подарок
        .col-6.col-lg-3
            .benefits__item
                img.benefits__item-image(src=require('../assets/img/garant.png'), alt='Выезд')
                .benefits__item-text
                    | Гарантия
                    br
                    b до 3-х лет