section#calc.calc
    .container
        .calc__title
            .row
                .col-12
                    h2.calc__title-h2 Узнайте   стоимость ремонта
        .row.no-gutters.align-items-stretch
            .col-12.col-lg-2
                .calc__tabs_wrapper
                    .calc__tabs
                        .calc__tab-item.calc__tab-item_active(data-target='desktop_calc')
                            include svg/desktop
                            .calc__tab-title Компьютер
                        .calc__tab-item(data-target='laptop_calc')
                            include svg/laptop
                            .calc__tab-title Ноутбук
                        .calc__tab-item(data-target='soft_calc')
                            include svg/printer
                            .calc__tab-title Принтер
            .col-12.col-lg-10
                .calc__tabs-content-wrapper
                    .calc__tabs-contents
                        .calc__tab-content.calc__tab-content_active(data-calc='desktop_calc')
                            h3.calc__tab-content-title Какая у вас проблема с компьютером?
                            .row
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem.js_modal(data-target='calc_desktop_power')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/desktop__offpower.png'), alt='Проблема')
                                        .calc__problem-title Питание
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem.js_modal(data-target='calc_desktop_low')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/desktop__low.png'), alt='Проблема')
                                        .calc__problem-title Тормозит
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem.js_modal(data-target='calc_desktop_wifi')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/internet.png'), alt='Проблема')
                                        .calc__problem-title Интернет
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem.js_modal(data-target='calc_desktop_hot')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/hot.png'), alt='Проблема')
                                        .calc__problem-title Греется
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/usb.png'), alt='Проблема')
                                        .calc__problem-title Разъем
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/mistake.png'), alt='Проблема')
                                        .calc__problem-title Ошибки
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/sound.png'), alt='Проблема')
                                        .calc__problem-title Звук
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/voice.png'), alt='Проблема')
                                        .calc__problem-title Шумит
                        .calc__tab-content(data-calc='laptop_calc')
                            h3.calc__tab-content-title Какая у вас проблема с ноутбуком?
                            .row
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_offpower')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/desktop__offpower.png'), alt='Проблема')
                                        .calc__problem-title Питание
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_low')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/desktop__low.png'), alt='Проблема')
                                        .calc__problem-title Тормозит
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_wifi')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/internet.png'), alt='Проблема')
                                        .calc__problem-title Интернет
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_hot')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/hot.png'), alt='Проблема')
                                        .calc__problem-title Греется
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/usb.png'), alt='Проблема')
                                        .calc__problem-title Разъем
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/mistake.png'), alt='Проблема')
                                        .calc__problem-title Ошибки
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/sound.png'), alt='Проблема')
                                        .calc__problem-title Звук
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/voice.png'), alt='Проблема')
                                        .calc__problem-title Шумит
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/water.png'), alt='Проблема')
                                        .calc__problem-title Залитие
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/tabs.png'), alt='Проблема')
                                        .calc__problem-title Клавиатура
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/screen.png'), alt='Проблема')
                                        .calc__problem-title Экран
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/touchpad.png'), alt='Проблема')
                                        .calc__problem-title Тачпад
                        .calc__tab-content(data-calc='soft_calc')
                            h3.calc__tab-content-title Какая у вас проблема с принтером?
                            .row
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_offpower')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/desktop__offpower.png'), alt='Проблема')
                                        .calc__problem-title Питание
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_offpower')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/print.png'), alt='Проблема')
                                        .calc__problem-title Печать
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_offpower')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/paper.png'), alt='Проблема')
                                        .calc__problem-title Бумага
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_usb')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/slot.png'), alt='Проблема')
                                        .calc__problem-title Лоток
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_offpower')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/driver.png'), alt='Проблема')
                                        .calc__problem-title Драйвер
                                .col-6.col-md-2.col-lg-2
                                    .calc__problem(data-target='calc_desktop_offpower')
                                        .calc__problem-img_wrapper
                                            img.calc__problem-img(src=require('../assets/img/mistake.png'), alt='Проблема')
                                        .calc__problem-title Ошибки