.popup#callback
    .popup__top
        img.popup__close.callback__close(src=require('../assets/img/close.svg'), alt='Закрыть')
    .popup__content
        .popup__inner.callback__inner
            h2.callback__title Обратный звонок
            input.input.callback__input
    .popup__bottom