footer.footer
    .row
        .col-12.col-md-6.col-lg-6
            .footer__city Уфа, 2019
        .col-12.col-md-6.col-lg-6.footer_user-info.text-lg-right
            a.footer__link(href=require('../assets/files/info.pdf'))
                | Юридическая
                | информация