header.header
    .container
        .row.align-items-center
            .col-3.d-lg-none
                .header__burger
                    img.header__burger-svg(src=require("../assets/img/burger.svg"), alt='burger')
            .col-6.col-lg-2
                a.header__logo.js_scroll(href='#top')
                    img.header__logo-svg(src=require("../assets/img/logo.svg"), alt='burger')
            .d-lg-block.col-lg-5.header__nav-wrapper
                img.nav__close(src=require('../assets/img/close.svg'), alt='Закрыть')
                ul.header__nav
                    li
                        a.header__nav-link.js_scroll(href='#price') Цены
                    li
                        a.header__nav-link.js_scroll(href='#calc') Калькулятор
                    li
                        a.header__nav-link.js_scroll(href='#reviews') Отзывы
                    li
                        a.header__nav-link.js_scroll(href='#contacts') Контакты
            .col-3.col-lg-5
                .header__contacts
                    .header__phone
                        a.header__phone-link(href='tel:83472949292')
                            img.header__phone-svg(src=require('../assets/img/phone.svg'))
                            span.header__phone_reg 8 (347)
                            span.header__phone_bold 294-92-92
                        .header__phone-time ежедневно с 9:00 до 23:00
                    a.button.header__btn.callback_js(href='#callback') Обратный звонок