head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Техносервис - ремонт компьютерной техники в Уфе
    link(rel='shortcut icon', href=require('../assets/img/favicon.ico'), type='image/x-icon')