.popup#popup
    .popup__top
        img.popup__close(src=require('../assets/img/close.svg'), alt='Закрыть')
    .popup__content
        .popup__inner
            .row.align-items-center
                .col-12.col-md-3
                    .popup__image
                        img.popup__img-item(src=require('../assets/img/desktop__offpower.png'), alt='image')
                .col-12.col-md-9
                    .popup__title Компьютер не включается / не работает
                .col-12
                    .popup__text
                        p.popup__paragraph
                            | Основная причина того, что ваш компьютер не
                            | включается, - это проблема в блоке питания.
            .row.align-items-end
                .col-12.col-md-5.col-lg-5
                    .popup__price
                        .popup__price-title Устранить проблему:
                        |                             ~
                        span.popup__price-number 450
                        |
                        span.ruble Я
                .col-12.col-md-7.col-lg-7
                    a.button.popup__button(href='#callback') Оставить заявку
    .popup__bottom