section#price.block_border.price
    .price__tabs
        .price__tab-item.price__tab-item_active(data-target='desktop_price')
            include svg/desktop_price
            .price__tab-title
                | Ремонт
                br
                | компьютеров
        .price__tab-item(data-target='laptop_price')
            include svg/laptop_price
            .price__tab-title
                | Ремонт
                br
                | ноутбуков
        .price__tab-item(data-target='soft_price')
            include svg/soft_price
            .price__tab-title
                | Windows
                br
                | и программы
    .price__contents
        .price__content-item.price__content-item_active(data-price='desktop_price')
            table.price__content-table.price__content-table-header-row
                tbody
                    tr
                        th.price__content-table-services.price__content-table-services-header
                            .price__content-table-head Услуги и поломки
                            .price__content-table-description
                                | Подробнее об услугах уточняйте по
                                | телефону (представлены не все)
                        th.price__content-table-time
                            .price__content-table-head Время
                            .price__content-table-description
                                | Время работ зависит от сложности
                                | ремонта
                        th.price__content-table-cost
                            .price__content-table-head Стоимость
                            .price__content-table-description
                                | Стоимость работ зависит от модели
                                | компьютера и сожности ремонта
            table.price__content-table.price__content-table-inner
                tbody
                    tr
                        td.price__content-table-services Выезд мастера
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b Бесплатно
                    tr
                        td.price__content-table-services Диагностика компьютера
                        td.price__content-table-time
                            b 20 мин.
                        td.price__content-table-cost
                            b Бесплатно
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Компьютер не включается / не работает
                            img.price__info.js_modal(src=require('../assets/img/info.svg'), data-target='calc_desktop_power')
                        td.price__content-table-time
                            b 40 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Синий экран на компьютере
                            img.price__info.js_modal(src=require('../assets/img/info.svg'), data-target='calc_desktop_power')
                        td.price__content-table-time
                            b 40 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Компьютер тормозит
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 490
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Черный экран при включении
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Синий экран смерти при включении
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 490
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Чистка компьютера от пыли
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Удаление вирусов
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 190
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Ремонт монитора
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Восстановление и сохранение данных
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 590
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Восстановление / установка Windows (XP, 7, 8, 10)
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 290
                                span.ruble Я
            .price__star *Стоимость зависит от сложности работы и модели компьютера
        .price__content-item(data-price='laptop_price')
            table.price__content-table.price__content-table-header-row
                tbody
                    tr
                        th.price__content-table-services.price__content-table-services-header
                            .price__content-table-head Услуги и поломки
                            .price__content-table-description
                                | Подробнее об услугах уточняйте по
                                | телефону (представлены не все)
                        th.price__content-table-time
                            .price__content-table-head Время
                            .price__content-table-description
                                | Время работ зависит от сложности
                                | ремонта
                        th.price__content-table-cost
                            .price__content-table-head Стоимость
                            .price__content-table-description
                                | Стоимость работ зависит от модели
                                | техники и сожности ремонта
            table.price__content-table.price__content-table-inner
                tbody
                    tr
                        td.price__content-table-services Выезд мастера
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b Бесплатно
                    tr
                        td.price__content-table-services Диагностика компьютера
                        td.price__content-table-time
                            b 20 мин.
                        td.price__content-table-cost
                            b Бесплатно
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Компьютер не включается / не работает
                            img.price__info.js_modal(src=require('../assets/img/info.svg'), data-target='calc_desktop_power')
                        td.price__content-table-time
                            b 40 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Синий экран на компьютере
                            img.price__info.js_modal(src=require('../assets/img/info.svg'), data-target='calc_desktop_power')
                        td.price__content-table-time
                            b 40 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Компьютер тормозит
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 490
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Черный экран при включении
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Синий экран смерти при включении
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 490
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Чистка компьютера от пыли
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Удаление вирусов
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 190
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Ремонт монитора
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Восстановление и сохранение данных
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 590
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Восстановление / установка Windows (XP, 7, 8, 10)
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 290
                                span.ruble Я
            .price__star *Стоимость зависит от сложности работы и модели ноутбука
        .price__content-item(data-price='soft_price')
            table.price__content-table.price__content-table-header-row
                tbody
                    tr
                        th.price__content-table-services.price__content-table-services-header
                            .price__content-table-head Услуги и поломки
                            .price__content-table-description
                                | Подробнее об услугах уточняйте по
                                | телефону (представлены не все)
                        th.price__content-table-time
                            .price__content-table-head Время
                            .price__content-table-description
                                | Время работ зависит от сложности
                                | проблемв
                        th.price__content-table-cost
                            .price__content-table-head Стоимость
                            .price__content-table-description
                                | Стоимость работ зависит от сложности
                                | проблемы
            table.price__content-table.price__content-table-inner
                tbody
                    tr
                        td.price__content-table-services Выезд мастера
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b Бесплатно
                    tr
                        td.price__content-table-services Диагностика компьютера
                        td.price__content-table-time
                            b 20 мин.
                        td.price__content-table-cost
                            b Бесплатно
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Компьютер не включается / не работает
                            img.price__info.js_modal(src=require('../assets/img/info.svg'), data-target='calc_desktop_power')
                        td.price__content-table-time
                            b 40 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Синий экран на компьютере
                            img.price__info.js_modal(src=require('../assets/img/info.svg'), data-target='calc_desktop_power')
                        td.price__content-table-time
                            b 40 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Компьютер тормозит
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 490
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Черный экран при включении
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Синий экран смерти при включении
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 490
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Чистка компьютера от пыли
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Удаление вирусов
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 190
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Ремонт монитора
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 450
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Восстановление и сохранение данных
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 590
                                span.ruble Я
                    tr.price__content-table-services-quest
                        td.price__content-table-services
                            span Восстановление / установка Windows (XP, 7, 8, 10)
                            img.price__info(src=require('../assets/img/info.svg'), data-target='laptop_3')
                        td.price__content-table-time
                            b 30 мин.
                        td.price__content-table-cost
                            b
                                | 290
                                span.ruble Я
            .price__star *Стоимость зависит от сложности работы и модели устройства
