section#reviews.reviews.block_border
    h2.title-h2 Отзывы и комментарии
    .reviews__inner
        #mc-container
        script(async='', type='text/javascript').
            cackle_widget = window.cackle_widget || [];
            cackle_widget.push({
                widget: 'Comment',
                id: 61885
            });
            (function () {
                var mc = document.createElement('script');
                mc.type = 'text/javascript';
                mc.async = true;
                mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(mc, s.nextSibling);
            })();
