svg.calc__tab-svg(width='377', height='320', viewBox='0 0 377 320', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M357.647 0H257.255C246.864 0.011079 238.442 8.4324 238.432 18.8235V56.4706H12.5493C5.62135 56.4787 0.00806723 62.0919 0 69.0199V219.608C0.011079 229.999 8.4324 238.421 18.8235 238.432H100.392V263.529H91.293C84.6241 263.565 78.5113 267.25 75.3673 273.13L65.0681 291.976C61.8068 297.943 61.9628 305.194 65.4779 311.014C68.7048 316.57 74.6412 319.992 81.066 320H207.561C213.986 319.992 219.922 316.57 223.149 311.014C226.666 305.185 226.819 297.925 223.548 291.954L213.272 273.152C210.13 267.261 204.012 263.566 197.334 263.528H188.235V238.431H238.432V301.176C238.442 311.568 246.864 319.989 257.255 320H357.647C368.039 319.989 376.46 311.568 376.471 301.176V18.8235C376.46 8.4324 368.039 0.011079 357.647 0ZM12.5493 75.2941C12.5529 71.8302 15.3596 69.0228 18.8235 69.0199H269.804C273.268 69.0235 276.074 71.8302 276.078 75.2941V200.785L12.5485 200.793V75.2941H12.5493ZM197.334 276.079C199.415 276.105 201.309 277.288 202.242 279.149L212.519 297.951C213.658 300.032 213.602 302.564 212.371 304.593C211.389 306.332 209.559 307.419 207.561 307.452H81.066C79.0696 307.419 77.2378 306.332 76.2557 304.593C75.0274 302.572 74.9671 300.05 76.0965 297.972L86.3968 279.127C87.3315 277.277 89.2192 276.102 91.292 276.079H100.391V282.353C100.399 289.28 106.013 294.894 112.94 294.902H175.685C182.613 294.894 188.227 289.28 188.234 282.353V276.079H197.334ZM112.941 282.353V238.432H175.686V282.353H112.941ZM18.8235 225.882C15.3596 225.879 12.5522 223.072 12.5493 219.608V213.334H276.079V219.608C276.074 223.072 273.268 225.879 269.805 225.882H18.8235ZM363.921 301.176C363.918 304.64 361.111 307.447 357.647 307.451H257.255C253.791 307.447 250.984 304.64 250.981 301.176V238.432H269.805C277.755 238.407 284.83 233.382 287.472 225.882H345.099C348.564 225.882 351.373 223.074 351.373 219.608C351.373 216.143 348.564 213.334 345.099 213.334H288.628V200.785H345.099C348.564 200.785 351.373 197.976 351.373 194.511C351.373 191.045 348.564 188.236 345.099 188.236H288.628V175.687H345.099C348.564 175.687 351.373 172.877 351.373 169.413C351.373 165.947 348.564 163.139 345.099 163.139H288.628V150.588H345.099C348.564 150.588 351.373 147.779 351.373 144.314C351.373 140.848 348.564 138.04 345.099 138.04H288.628V125.491H345.099C348.563 125.492 351.372 122.684 351.373 119.22C351.373 119.217 351.373 119.216 351.373 119.216V87.8435C351.374 84.3789 348.567 81.5693 345.102 81.5693C345.101 81.5693 345.099 81.5693 345.099 81.5693H288.628V69.0199H345.099C348.563 69.0206 351.372 66.2132 351.373 62.7485C351.373 62.7477 351.373 62.7464 351.373 62.7456V31.3728C351.374 27.9081 348.567 25.0993 345.102 25.0985C345.101 25.0985 345.099 25.0985 345.099 25.0985H269.805C266.34 25.0978 263.53 27.9052 263.53 31.3699C263.53 31.3705 263.53 31.372 263.53 31.3728V56.4706H250.981V18.8235C250.984 15.3596 253.791 12.5522 257.255 12.5493H357.647C361.111 12.5529 363.918 15.3596 363.921 18.8235V301.176ZM276.079 56.4706V37.6471H338.824V56.4706H276.079ZM288.627 94.1176H338.824V112.941H288.627V94.1176Z', fill='black')
    path(d='M320.002 244.706C306.14 244.706 294.903 255.943 294.903 269.804C294.903 283.665 306.14 294.901 320.002 294.901C333.862 294.901 345.099 283.665 345.099 269.804C345.084 255.948 333.857 244.721 320.002 244.706ZM320.002 282.353C313.07 282.353 307.452 276.735 307.452 269.804C307.452 262.873 313.07 257.254 320.002 257.254C326.932 257.254 332.551 262.873 332.551 269.804C332.542 276.732 326.929 282.344 320.002 282.353Z', fill='black')
    path(d='M276.083 263.528C276.081 263.528 276.08 263.528 276.079 263.528C272.615 263.527 269.806 266.335 269.805 269.799C269.805 269.8 269.805 269.801 269.805 269.803V276.077C269.805 279.542 272.614 282.351 276.079 282.351C279.545 282.351 282.353 279.541 282.353 276.077V269.803C282.355 266.339 279.547 263.529 276.083 263.528Z', fill='black')
    path(d='M48.2789 83.4074C45.8384 81.0099 41.9274 81.0099 39.4869 83.4074L26.9376 95.9557C24.4876 98.4071 24.4884 102.379 26.9391 104.83C28.1156 106.005 29.7105 106.666 31.3737 106.666C33.0383 106.668 34.6347 106.006 35.8097 104.828L48.3582 92.2792C50.7862 89.8074 50.7509 85.8351 48.2789 83.4074Z', fill='black')
    path(d='M85.9497 83.408C83.5059 80.9943 79.5755 80.9943 77.1328 83.408L39.4855 121.055C37.0355 123.504 37.0348 127.475 39.4833 129.926C39.484 129.927 39.4847 129.927 39.4855 129.928C41.9341 132.378 45.9061 132.378 48.3561 129.93C48.3569 129.929 48.3576 129.929 48.3583 129.928L86.0056 92.2808C88.4398 89.8155 88.415 85.8432 85.9497 83.408Z', fill='black')