svg.calc__tab-svg(width='467', height='309', viewBox='0 0 467 309', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M413.73 21.8082H53.2709C46.9048 21.8082 41.7251 26.8299 41.7251 33.003V239.63C41.7251 245.803 46.9048 250.825 53.2709 250.825H413.73C420.095 250.825 425.275 245.803 425.275 239.63V33.004C425.275 26.8308 420.095 21.8082 413.73 21.8082V21.8082ZM415.279 239.63C415.279 240.459 414.585 241.132 413.73 241.132H53.2709C52.4163 241.132 51.7206 240.458 51.7206 239.63V33.004C51.7206 32.1753 52.4153 31.5016 53.2709 31.5016H413.73C414.584 31.5016 415.279 32.1762 415.279 33.004V239.63Z', fill='black')
    path(d='M459.503 258.095H447.765V27.6896C447.765 12.4219 434.955 0 419.21 0H47.7914C32.0455 0 19.2363 12.4209 19.2363 27.6896V258.094H7.49661C3.35548 258.094 0 261.349 0 265.363V285.335C0 298.307 10.8841 308.86 24.261 308.86H442.738C456.116 308.86 466.999 298.306 466.999 285.335V265.363C467 261.35 463.645 258.095 459.503 258.095V258.095ZM34.2285 27.6896C34.2285 20.4386 40.3128 14.5388 47.7904 14.5388H419.209C426.686 14.5388 432.77 20.4376 432.77 27.6896V258.094H34.2285V27.6896V27.6896ZM211.509 272.634H255.49V276.435C255.49 278.136 254.062 279.521 252.307 279.521H214.691C212.936 279.521 211.508 278.137 211.508 276.435V272.634H211.509ZM452.008 285.336C452.008 290.292 447.851 294.323 442.74 294.323H24.262C19.1513 294.323 14.9942 290.291 14.9942 285.336V272.634H26.7329H201.515V276.435C201.515 283.482 207.426 289.214 214.693 289.214H252.309C259.576 289.214 265.487 283.482 265.487 276.435V272.634H440.269H452.008V285.336Z', fill='black')
    path(d='M88.1783 54.8098C85.7378 52.4122 81.8268 52.4122 79.3863 54.8098L66.837 67.3581C64.387 69.8094 64.3878 73.7817 66.8385 76.232C68.015 77.4077 69.6099 78.0681 71.2731 78.0681C72.9378 78.0703 74.5341 77.4087 75.7091 76.2298L88.2577 63.6815C90.6856 61.2097 90.6503 57.2374 88.1783 54.8098Z', fill='black')
    path(d='M125.849 54.8103C123.405 52.3966 119.475 52.3966 117.032 54.8103L79.3849 92.4573C76.9349 94.9066 76.9342 98.8778 79.3827 101.328C79.3834 101.329 79.3841 101.329 79.3849 101.33C81.8335 103.781 85.8056 103.781 88.2555 101.332C88.2563 101.331 88.257 101.331 88.2577 101.33L125.905 63.6832C128.339 61.2178 128.314 57.2455 125.849 54.8103Z', fill='black')