svg.price__tab-svg(width='400', height='366', viewBox='0 0 400 366', fill='none', xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0)')
        path(d='M183.209 29.6016V178.224H400.345V0L183.209 29.6016ZM386.774 165.891H196.78V40.0847L386.774 14.8004V165.891Z', fill='black')
        path(d='M0 180.075H169.638V30.8345L0 53.6523V180.075ZM13.5711 64.1362L156.067 45.0185V167.741H13.5711V64.1362Z', fill='black')
        path(d='M183.209 336.714L400.345 366.316V192.408H183.209V336.714ZM196.78 204.742H386.774V352.131L196.78 326.229V204.742Z', fill='black')
        path(d='M0 312.663L169.638 335.481V192.408H0V312.663ZM13.5711 204.742H156.067V321.296L13.5711 302.179V204.742Z', fill='black')
    defs
        clippath#clip0
            rect(width='400', height='366', fill='white')