doctype html
html(lang='ru')
    include includes/head
    body.body.body_fixed(style='display: none;')
        include includes/preloader
        include includes/overlay
        #top.content_wrapper
            include includes/header
            main.main
                include includes/banner
                .container
                    include includes/benefits
                    include includes/price
                include includes/calc
                .container
                    include includes/reviews
                    include includes/map
            .container
                include includes/footer
            include includes/popup
            include includes/callback
        script#ya_map(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', async, type='text/javascript')
        script(async='').
            var _emv = _emv || [];
            _emv['campaign'] = '3da3e32030bd7024fd82394a';
            (function () {
                var em = document.createElement('script');
                em.type = 'text/javascript';
                em.async = true;
                em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'leadback.ru/js/leadback.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(em, s);
            })();
