@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

/* Fonts */

@font-face {
  src: url("./assets/fonts/NokiaSansBold.ttf");
  font-family: 'NS';
}

@font-face {
  src: url("./assets/fonts/RUB.otf");
  font-family: 'RUB';
}

/* Common styles */

* {
  -webkit-overflow-scrolling:touch;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

input[type=text], input[type=submit], textarea{
  -webkit-appearance: none;
}

.title-h1 {
  font-family: 'NS', sans-serif;
  font-size: 30px;
}

html {
  overflow-y: scroll;
}

.body_fixed {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

*::selection {
  background: $dark_blue;
  color: $white;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
}

.body_fixed-mobile {
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.ruble {
  display: inline-block;
  margin-left: 5px;
  font-family: 'RUB', sans-serif;
}

.title-h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 30px;
  color: $dark_blue;
}

a {
  color: $dark_blue;
  text-decoration: none;
  transition: $transition_200_linear;
}

.block_border {
  box-shadow: $box_shadow_block;
  background: $white;
  border-radius: 20px;
}

.button {
  background: $blue;
  color: $white;
  line-height: 1;
  padding: 15px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: $box_shadow2_blue;
}

.button:hover {
  color: $white;
  box-shadow: $box_shadow_none;
}

a:hover {
  color: $blue;
  text-decoration: none;
}

/* Header */

.nav__close {
  display: none;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: $white;
}

.header__logo {
  width: 100%;
  display: flex;
  align-items: center;
  color: $dark_blue;
}

.header__logo:hover {
  color: $dark_blue;
}

.header__logo-svg {
  width: 100%;
  margin-right: 10px;
  display: block;
}

.header__logo-text {
  font-family: 'NS', sans-serif;
}

.header__logo-text-top {
  font-size: 40px;
  line-height: 1;
}

.header__logo-text-bottom {
  font-size: 32px;
  line-height: 1;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  color: $black;
}

.header__nav-link {
  color: $black;
  line-height: 1.5;
}

.header__contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

.header__phone {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 20px;
}

.header__phone-svg {
  margin-right: 10px;
  color: $dark_blue;
  width: 20px;
  height: 20px;
}

.header__phone-time {
  text-align: right;
  font-size: 15px;
}

.header__phone-link {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: baseline;
}

.header__phone_reg {
  margin-right: 5px;
}

.header__phone_bold {
  font-size: 22px;
}

/* Main Banner */

.main {
  margin-top: 80px;
}

.banner {
  height: 400px;
  display: flex;
  align-items: center;
  background: url("./assets/img/new-banner.png") 55%;
  background-size: cover;
}

.banner_inner {
  transform: translateY(-10px);
  padding-left: 30px;
}

.banner__title {
  font-size: 46px;
  font-family: 'NS', 'Roboto', sans-serif;
  color: $dark_blue;
  margin-bottom: 30px;
  line-height: 1.1;
}

.banner__description {
  font-size: 22px;
  padding-left: 15px;
  border-left: 3px solid $blue;
  line-height: 1;
  margin-bottom: 30px;
  color: $dark_blue;
}

.banner__button {
  display: inline-block;
  padding: 15px 35px;
}

/* Benefits */

.benefits {
  transform: translateY(-30px);
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-image {
  height: 80px;
  display: block;
  margin: 0 auto 15px auto;
}

.benefits__item-text {
  font-size: 18px;
}

/* Price */

.price {
  margin-bottom: 50px;
}

.price__tabs {
  display: flex;
  flex-flow: row nowrap;
}

.price__tab-item {
  width: 33.333%;
  display: flex;
  align-items: center;
  padding: 30px;
  cursor: pointer;
  border-bottom: 1px solid $light_grey;
  transition: $transition_200_linear;
}

.price__tab-item:first-of-type {
  border-top-left-radius: 20px;
}

.price__tab-item:last-of-type {
  border-top-right-radius: 20px;
}

.price__tab-svg {
  height: 60px;
  width: 85px;
  margin-right: 20px;
}

.price__tab-svg path {
  fill: $grey;
  transition: $transition_200_linear;
}

.price__tab-title {
  color: $grey;
  text-transform: uppercase;
  font-size: 16px;
  transition: $transition_200_linear;
}

.price__tab-item:hover {
  border-bottom: 1px solid $dark_blue;
}

.price__tab-item:hover .price__tab-title {
  color: $dark_blue;
}

.price__tab-item:hover .price__tab-svg path {
  fill: $dark_blue;
}

.price__tab-item_active {
  border-bottom: 1px solid $dark_blue;
  background: #f1f1f1;
  cursor: default;
}

.price__tab-item_active .price__tab-svg path {
  fill: $dark_blue;
}

.price__tab-item_active .price__tab-title {
  color: $dark_blue;
}

.price__contents {
  padding: 30px 20px;
}

.price__content-item {
  opacity: 0;
  pointer-events: none;
  transition: 200ms all linear;
  display: none;
}

.price__content-item_active {
  opacity: 1;
  pointer-events: all;
  display: block;
}

.price__content-table {
  width: 100%;
}

.price__content-table tr {
  vertical-align: top;
}

.price__content-table th, .price__content-table td {
  padding-right: 15px;
  padding-left: 15px;
}

.price__content-table-services {
  width: 50%;
  position: relative;
}

.price__content-table .price__content-table-services {
  padding-right: 45px;
}

.price__content-table-time, .price__content-table-time {
  width: 25%;
}

.price__content-table-head {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.price__content-table-description {
  font-size: 14px;
  font-weight: 300;
  display: none;
}

.price__content-table-header-row {
  margin-bottom: 30px;
}

.price__info {
  display: none;
  width: 25px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.4;
  transition: $transition_200_linear;
  cursor: pointer;
}

.price__content-table-inner tr {
  border-bottom: 1px solid $light_grey;
  transition: $transition_200_linear;
}

.price__content-table-inner tr:hover {
  background: #f1f1f1;
}

.price__content-table-inner tr:last-child {
  border-bottom: 0;
}

.price__content-table-inner td {
  padding-top: 12px;
  padding-bottom: 12px;
  border-right: 1px solid $light_grey;
}

.price__content-table-inner td:last-child {
  border-right: 0;
}

.price__content-table-services-quest:hover .price__info {
  opacity: 1;
}

.price__star {
  padding-left: 15px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  color: $grey;
}

/* Calculator*/

.calc {
  display: none;
  align-items: center;
  overflow-x: hidden;
  margin-bottom: 50px;
  position: relative;
}

.calc__title {
  font-size: 36px;
  color: $white;
  transform: translateY(90px);
  padding-left: 41px;
  z-index: 2;
  position: relative;
  margin-top: -75px;
}

.calc__title-h2 {
  text-align: left;
  font-size: 34px;
}

.calc__tab-svg {
  width: 70px;
  height: 80px;
}

.calc__tabs_wrapper {
  padding: 100px 0 50px 0;
  background: $dark_blue;
}

.calc__tabs_wrapper::after {
  width: 10000%;
  content: '';
  background: $dark_blue;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1000%;
  z-index: -1;
}

.calc__tabs-content-wrapper::after {
  width: 500%;
  content: '';
  background: $blue;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.calc__tabs {
  background: $white;
  height: 400px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.calc__tab-item {
  height: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  border-right: 1px solid $light_grey;
  cursor: pointer;
  transition: 200ms all linear;
}

.calc__tab-item:first-of-type {
  border-top-left-radius: 30px;
}

.calc__tab-item:last-of-type {
  border-bottom-left-radius: 30px;
}

.calc__tabs-content-wrapper {
  height: 100%;
  padding: 100px 0 50px 0;
  background: $blue;
}

.calc__tabs-contents {
  height: 400px;
  background: $white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.calc__tab-title {
  text-transform: uppercase;
  color: $grey;
  transition: 200ms all linear;
}

.calc__tab-svg path {
  fill: $grey;
  transition: 200ms all linear;
}

.calc__tab-item:hover {
  border-right: 1px solid $dark_blue;
}

.calc__tab-item:hover .calc__tab-title {
  color: $dark_blue;
}

.calc__tab-item:hover .calc__tab-svg path {
  fill: $dark_blue;
}

.calc__tab-item_active {
  background: $light_grey;
  border-right: 1px solid $dark_blue;
  cursor: default;
}

.calc__tab-item_active .calc__tab-title {
  color: $dark_blue;
}

.calc__tab-item_active .calc__tab-svg path {
  fill: $dark_blue;
}

.calc__tab-content {
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: 200ms opacity ease-in-out;
  padding: 30px 60px;
  height: 400px;
}

.calc__tab-content_active {
  opacity: 1;
  pointer-events: all;
  display: block;
}

.calc__tab-content-title {
  font-size: 30px;
  color: $dark_blue;
  margin-bottom: 30px;
  font-weight: 300;
}

.calc__problem {
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  transition: 200ms all ease-in-out;
  background: $blue;
  margin-bottom: 30px;
}

.calc__problem-img_wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc__problem-title {
  font-size: 14px;
  padding: 5px;
  color: $white;
  font-weight: 300;
  text-transform: uppercase;
}

.calc__problem:hover {
  background: $dark_blue;
}

/* Reviews */

.reviews {
  padding: 30px 0;
  margin-bottom: 50px;
}

.reviews__inner {
  width: 80%;
  margin: 0 auto;
  min-height: 700px;
}

/* Contacts */

.contacts {
  margin-bottom: 50px;
  border-radius: 20px;
  position: relative;
}

.contacts__map {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
}

.yandex-map {
  border: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.contacts__map-tooltip {
  border-radius: 5px;
  box-shadow: $box_shadow5;
  background: $white;
  padding: 8px;
  color: $dark_blue;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  display: none;
  width: 200px;
}

.contacts__info {
  position: absolute;
  top: 0;
  left: 0;
  background: $white;
  padding: 30px;
  z-index: 3;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.contacts__address {
  margin-bottom: 0;
  font-size: 18px;
  color: $dark_blue;
}

/* Footer */

.footer {
  padding: 15px 0;
  position: relative;
}

.footer__city {
  text-align: left;
  color: $grey;
}

.footer__link {
  text-align: right;
  color: $grey;
}

.footer::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, transparent 0, #ddd 50%, transparent 100%);
  height: 1px;
  width: 100%;
}

.footer_user-info {
  text-align: right;
}

/* Modal */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  background: $white;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  opacity: 0;
  pointer-events: none;
  transition: 200ms opacity ease-in-out, 300ms top ease-in-out;
}

.popup_active {
  opacity: 1;
  pointer-events: all;
  top: 50%;
}

.popup__top {
  width: 100%;
  height: 50px;
  position: relative;
  border-bottom: 1px solid $light_grey;
}

.popup__bottom {
  width: 100%;
  height: 50px;
  position: relative;
  border-top: 1px solid $light_grey;
}

.popup__close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  right: 20px;
  cursor: pointer;
}

.popup__content {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.popup__image {
  height: 80px;
  width: 100%;
  background: $blue;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.popup__img-item {
  max-width: 100%;
}

.popup__title {
  font-size: 24px;
  color: $dark_blue;
  line-height: 30px;
}

.callback__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  flex-flow: column nowrap;
}

.callback__title {
  font-size: 26px;
  color: $dark_blue;
  margin-bottom: 20px;
}

.callback__input {
  width: 300px;
  max-width: 100%;
  border: 2px solid $dark_blue;
  padding: 10px;
  border-radius: 10px;
}

.popup__price {
  font-size: 40px;
  font-weight: 700;
  color: $dark_blue;
  line-height: 1;
}

.popup__price-title {
  font-size: 16px;
  font-weight: 300;
}

.popup__text {
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 35px;
}

.popup__paragraph {
  margin-bottom: 10px;
}

.popup__paragraph:last-of-type {
  margin-bottom: 0;
}

.popup__inner {
  padding: 30px;
}

.popup__button {
  margin: 0 auto;
  display: block;
  text-align: center;
  box-shadow: $box_shadow_none;
  background: $dark_blue;
}

.popup__button:hover {
  color: #FFF;
  opacity: 0.8;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: 200ms all ease-in-out;
}

.overlay_active {
  opacity: 1;
  pointer-events: all;
}

/* Preloader */

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: 200ms opacity ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.preloader_active {
  opacity: 1;
  pointer-events: all;
}

@keyframes preloader_rotate {
  from {
    transform: rotate(0);
    opacity: 1;
  }

  25% {
    transform: rotate(90deg);
    opacity: 0.75;
  }

  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }

  75% {
    transform: rotate(270deg);
    opacity: 0.75;
  }

  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.preloader__image {
  width: 50px;
  height: 50px;
  border: 4px solid $dark_blue;
  border-radius: 100%;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: preloader_rotate 1s infinite linear;
}

/* Callback */

.callback_active {
  opacity: 1;
  pointer-events: all;
}

@import "./media.scss";