@import "variables";
// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {

}

// Large devices (desktops, 992px and up)

@media (max-width: 1200px) {
  .header__btn {
    font-size: 14px;
  }

  .header__phone-link {
    font-size: 16px;
  }

  .header__phone_bold {
    font-size: 18px;
  }

  .header__phone-time {
    font-size: 14px;
  }

  .banner {
    background: url(./assets/img/new-banner.png) 46%;
    background-size: cover;
  }

  .calc__title {
    padding-left: 10px;
  }

  .calc__tab-content {
    padding: 30px 40px;
  }
}

// Medium devices (tablets, 768px and up)

@media (max-width: 992px) {
  .header__phone {
    margin-right: 0;
  }

  .header__phone-svg {
    margin-right: 0;
  }

  .header__phone_reg {
    display: none;
  }

  .popup__button {
    max-width: 300px;
    margin: 0;
  }

  .header__phone_bold {
    display: none;
  }

  .header__phone-time {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .header__burger-svg {
    width: 50px;
  }

  .header__logo-svg {
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }

  .header__phone-svg {
    width: 50px;
    height: 50px;
  }

  .banner__title {
    font-size: 40px;
  }

  .benefits__item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .price__tab-item {
    flex-flow: column nowrap;
  }

  .price__tab-svg {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .price__tab-title {
    text-align: center;
  }

  .calc__tabs {
    height: auto;
    display: flex;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 30px;
  }

  .calc__tabs_wrapper {
    padding-bottom: 0;
  }

  .calc__tabs-content-wrapper {
    padding-top: 0;
    background: transparent;
  }

  .calc__title {
    padding-left: 0;
  }

  .calc {
    background: $dark_blue;
  }

  .calc__tabs-contents {
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .calc__tab-item {
    width: 33.333%;
    padding: 10px 0;
    border-right: 0;
    border-bottom: 1px solid $light_grey;
  }

  .calc__tab-item:hover {
    border-right: 0;
    border-bottom: 1px solid $dark_blue;
  }

  .calc__tab-item_active {
    border-bottom: 1px solid $dark_blue;
  }

  .calc__problem-title {
    font-size: 13px;
    text-transform: none;
    padding: 5px 0;
  }

  .calc__tab-item:first-of-type {
    border-bottom-left-radius: 0;
    border-top-left-radius: 30px;
  }

  .calc__tab-item:last-of-type {
    border-bottom-right-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
  }

  .calc__tab-content {
    height: auto;
  }

  .calc__tabs-contents {
    height: auto;
  }

  .header__nav-wrapper {
    position: fixed;
    top: -70px;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: $white;
    padding: 0 0 70px 0;
    z-index: 99;
    align-items: center;
    justify-content: center;
    display: none;
    transform: translateY(70px);
    overflow-y: auto;
  }

  .popup {
    width: 100%;
    height: 100vh;
    top: -70px;
    transform: translateY(70px);
    overflow: hidden;
    padding: 0 0 70px 0;
    left: 0;
    right: 0;
    position: fixed;
    max-width: 100%;
    border-radius: 0;
    transition: none;
  }

  .overlay {
    transition: none;
  }

  .popup__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .popup__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: none;
  }

  .popup__content {
    height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    transform: translateY(50px);
    overflow-y: auto;
  }

  .header__nav-wrapper_active {
    display: flex;
  }

  .header__nav {
    display: flex;
    flex-flow: column nowrap;
  }

  .nav__close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    padding: 30px;
    height: 80px;
    cursor: pointer;
  }

  .header__nav-link {
    padding: 15px 0;
    font-size: 24px;
    display: inline-block;
  }
}

// Small devices (landscape phones, 576px and up)

@media (max-width: 768px) {
  .header__phone_reg {
    display: none;
  }

  .price__tab-item {
    padding: 10px;
  }

  .header__phone_bold {
    display: none;
  }

  .header__phone-time {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .header__burger-svg {
    width: 50px;
    height: 50px;
  }

  .header__logo-svg {
    max-height: 70px;
    margin: 0 auto;
    display: block;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
  .header {
    height: 60px;
  }

  .contacts__map {
    height: 80vh;
  }

  .price__content-table-time {
    display: none;
  }

  .popup__button {
    max-width: 100%;
  }

  .footer__city, .footer_user-info {
    text-align: center;
  }

  .title-h2 {
    font-size: 22px;
  }

  .main {
    margin-top: 60px;
  }

  .banner {
    height: 300px;
    background: url("./assets/img/new-banner-50.png") 54%;
  }

  .banner_inner {
    padding: 0;
  }

  .banner__title {
    font-size: 31px;
  }

  .banner__description {
    font-size: 18px;
  }

  .popup__image {
    margin-bottom: 30px;
  }

  .header__burger-svg {
    width: 35px;
    height: 35px;
  }

  .popup__price {
    margin-bottom: 20px;
    text-align: center;
  }

  .header__phone-svg {
    width: 40px;
    height: 40px;
  }

  .benefits__item-image {
    height: 60px;
  }

  .benefits__item-text {
    font-size: 16px;
  }

  .price__tab-svg {
    height: 50px;
  }

  .price__tab-title {
    font-size: 14px;
  }

  .price__contents {
    padding: 20px 15px 15px 15px;
  }

  .price__content-table .price__content-table-services-header {
    padding-right: 0;
  }

  .price__content-table-head {
    margin-bottom: 0;
  }

  .price__content-table-header-row {
    margin-bottom: 10px;
  }

  .price__content-table-inner td {
    font-size: 14px;
  }

  .calc__title-h2 {
    margin-bottom: 0;
  }

  .calc__title-h2 {
    font-size: 26px;
  }

  .calc__tab-svg {
    width: 60px;
  }

  .calc__tab-content-title {
    font-size: 24px;
  }

  .calc__problem-title {
    font-size: 16px;
    text-transform: uppercase;
  }
}

@media (max-width: 400px) {
  .banner__title {
    font-size: 28px;
  }

  .popup__title {
    font-size: 21px;
  }

  .price__tab-title {
    font-size: 12px;
  }

  .benefits__item-text {
    font-size: 15px;
  }

  .price__tab-svg {
    height: 45px;
  }

  .price__content-table-head {
    font-size: 16px;
  }

  .calc__title-h2 {
    font-size: 24px;
  }

  .calc__tab-content {
    padding: 25px;
  }

  .contacts__info {
    width: 100%;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
  }

  .contacts__map {
    height: 80vh;
  }
}

@media (max-width: 350px) {
  .banner__title {
    font-size: 22px;
    margin-bottom: 24px;
  }

  .banner__description {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .banner {
    background-position: 56%;
    height: 250px;
  }

  .benefits__item-text {
    font-size: 12px;
  }

  .price__tab-title {
    font-size: 10px;
  }

  .price__tab-svg {
    height: 40px;
  }

  .price__content-table-header-row {
    display: none;
  }

  .price__content-item {
    overflow-x: hidden;
  }

  .price__content-table-inner td {
    font-size: 12px;
  }

  .price__star {
    font-size: 10px;
  }

  .calc__title-h2 {
    font-size: 18px;
  }

  .calc__tab-svg {
    width: 50px;
  }

  .calc__tab-title {
    font-size: 13px;
  }

  .calc__tab-content-title {
    font-size: 20px;
  }

  .calc__problem-title {
    font-size: 14px;
  }

  .calc__tab-item {
    padding: 5px 0;
  }
}