$grey: #bebebe;
$dark_blue: #212460;
$blue: #48c1bf;
$black: #000000;
$white: #ffffff;
$light_grey: #d3dae1;
$light_blue: #48dbc3;
$grey: #98a1ac;
$box_shadow10: 0px 0px 20px 10px rgba(0, 0, 0, 0.03);
$box_shadow20: 0px 0px 20px 20px rgba(0, 0, 0, 0.03);
$box_shadow5: 0px 0px 20px 5px rgba(0, 0, 0, 0.03);
$box_shadow_block: 0px 0px 15px 3px rgba(0, 0, 0, 0.03);
$box_shadow2_blue: 0px 0px 20px 2px rgba(72, 193, 191, 0.3);
$box_shadow10_blue: 0px 0px 20px 10px rgba(72, 193, 191, 0.3);
$box_shadow_none: 0px 0px 0px 0px rgba(0, 0, 0, 0);
$transition_200_linear: 200ms all linear;